/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
body{
    background-image: url("src\assets\hiclipart.com (7).png");
    background-color: rgb(224, 235, 235);
    background-size: auto;
   };
